{% extends "dao/index.html" %}

{% block title %}
О школе
{% endblock %}

{% block content %}
<div>
    <p><b>Центр восточных языков «Шесть путей к успеху»</b> проводит доступное и высококачественное обучение китайскому
        языку.</p>
    <p align="center">Мы приглашаем всех желающих:</p>
    <p>
        <ul>
            <li>начать обучение языка с нуля;</li>
            <li>совершенствовать уже имеющиеся знания и навыки;</li>
            <li>активно практиковаться в произношении и написании;</li>
            <li>познакомиться с культурой, историей и традициями Китая.</li>
        </ul>
    </p>
    <p>Качество обучения гарантируется высокой квалификацией преподавательского состава и применением эффективной методики изучения китайского языка.</p>
</div>
{% endblock %}