{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"#}
{#          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">#}
{#    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">#}
    <title>
        {% block title %}
            Центр восточных языков
        {% endblock %}
    </title>

    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% bootstrap_javascript %}

</head>
<body style="background-color: blanchedalmond" class="container-fluid">
<header><h6 class="display-6 text-center"><a href="{% url "index_dao" %}" class="nav-link"> ЦЕНТР ВОСТОЧНЫХ ЯЗЫКОВ</a></h6></header>
<div class="text-center">
    <nav class="navbar navbar-expand-lg navbar-light ms-1">
        <div>
{#            <a class="navbar-brand" href="#"></a>#}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Курсы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "other" page="contacts" %}">Контакты</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">О школе</a>
                        <ul class="dropdown-menu" style="background-color: blanchedalmond">
                            <li><a class="dropdown-item" href="{% url "other" page="legend" %}">Легенда</a></li>
                            <li><a class="dropdown-item" href="{% url "other" page="partner" %}">Партнёры</a></li>
                            <li><a class="dropdown-item" href="{% url "other" page="photoschool" %}">Фото школы</a></li>
                            <li><a class="dropdown-item" href="{% url "other" page="cheat" %}">Преимущества</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url "logout" %}">Выход</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url "profile" %}">Личный кабинет</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url "login" %}">Вход</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url "register" %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
<div>
    {% block content %}
        Пустая страница
    {% endblock %}
</div>
{#    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"#}
{#        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"#}
{#        crossorigin="anonymous"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"#}
{#        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"#}
{#        crossorigin="anonymous"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"#}
{#        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"#}
{#        crossorigin="anonymous"></script>#}
<footer>&copy; Центр восточных языков +7 (999) 999-99-99</footer>
</body>
</html>